.btn-loop {
  text-decoration: none;
  font-size: 25px;
  color: #393939;
  font-family: "Do Hyeon", sans-serif;
  background-color: #fff069;
  letter-spacing: 2px;
  border: 3px solid rgb(255, 255, 255);
  padding: 3.4vw;
}
.btn-loop:selection {
  background-color: red;
}



